<html>
<head>
	<title>CSS Notes</title>
	<!--Code to include pretty print for formatting Code examples --> 
	<script src="https://cdn.jsdelivr.net/gh/google/code-prettify/loader/run_prettify.js"></script>
	<!--prettyprint add on the style CSS (Minimal actual affect, won't indent)-->
	<script src="https://cdn.jsdelivr.net/gh/google/code-prettify/src/lang-css.js"></script>
	<!--Import css-->
	<link href="../css/style.css" type="text/css" rel="stylesheet">

</head>
<body>
	<h1> CSS Notes</h1>
	<h3> Cascading Style Sheets </h3>
	<ul>
		<li> CSS can go into a style tag, but better in a .css file for organization </li>
			<ul><li> To put it in a seperate file, must include a <a href="html.html">"link" HTML</a> element to connect them </li>
	</ul>

	<br>
	<h3> Breaking Down the syntax </h3>
	<pre class="prettyprint lang-css"> 
		h1 {
  			color: Blue;
		}
	</pre>
	<ul>
		<li> The whole bracketed thing is called a rule </li>
		<!--Selectors-->
		<li> The first part is the selector, it chooses which elements to change.  Can have multiple selectors for one rule by seperating them with commas.  Applies to all types of selectors. </li>
			<ul> 
				<li> "*" is the universal selector </li> 
				<li> .button can be used to select any element with class="button".  The . selects by class name </li>
				<li> #green <-- # sign is used to select by id, where id = "green" </li>
				<li> <a href="https://www.w3schools.com/cssref/css_selectors.asp"> List of all selectors </a> There are a ton of them.  Interesting to me is the ":visited" selector, which affects all visited links. </li>
				<li> standard and class selectors can be combined.  The following examples sets the font family of all elements of class breaking, and then changes the line height of paragraph elements that are of class breaking. </li>
				<pre class="prettyprint lang-css">
	.breaking {
	  font-family: Georgia, Times, serif;
	}

	p.breaking {
	  line-height: 1.3em;
	}
				</pre>
			</ul>
		<li> An individual line ended by a semicolon is a "declaration" e.g. color: blue;</li>
		<li> A Declaration is made up of a property and a value, color is the property, blue is the value. </li>
		<li> /* Comment */ is how you comment. </li>
		<li> If there are multiple declarations, the latter one takes affect.  This can be used to improve browser support.  For example: </li>
		<pre class="prettyprint lang-css">
		h1 {
  			color: rgb(22, 34, 88);
  			color: rgba(22, 34, 88, 0.4);
		}
		</pre>
		<p> In the above example, a newer browser will overwrite the first rgb with the rgba, while older ones just ignore rgba and stick with the rgb. </p>
		<li> On the topic of css precedence: inline (style="a style") css takes first precedence.  After that, the more specific the rule, the higher the weight.  If the specificity is the same, rules later (further down) in the css file, or lower on the html style tag, overwrite the earlier ones. </li>
	</ul>

	<br>
	<div> <!-- Possible properties -->
	<h3> Possible Properties and Values </h3>
	<ul>
		<li> color: change the color of the element selected </li>
			<ul> 
				<li> Blue </li> <li> Green </li> <li> Red </li> <li> FireBrick </li> <li> DarkSlateGray </li> <li> MidnightBlue </li> 
				<li> <a href='http://www.colors.commutercreative.com/grid/'>The rest of them </a> </li> 
				<li> use rbg(red value, blue value, green value) with all parameters as ints 0-255 to create any color.  Fun fact, there are 16,777,216 options. Go to <a href='https://color.adobe.com/create/color-wheel/'> this color picker </a> to figure out the values. </li> 
				<li> rbga(red, blue, green, opacity): opacity is a value from 0 to 1. </li>
				<li> Hex values can also be used, a la color: #FFFFFF, with pairs representing colors.  This can be shortened like so: #FF AA FF -> #F a F -> #FAF = #FFAAFF </li>
				<li> or, hsl(hue, saturation, lightness) : 0-360 for hue, and a percentage for the other two.  Saturation is percent gray, lightness is percent white.  Only supported on newer browsers.  Ex. hsl(12, 10%, 50%)  (Why would anyone use this?) </li>
				<li> hsla(): same as rbga </li>
				<li> rgba, hsl, hsla not supported in old browsers. </li>
			</ul>

		<li> background-color: change the background color of the html element. Same color options as above. </li>

		<li> font-size: Changes the size of the text </li>
			<ul> 
				<li> By pixel: 16px </li>
				<li> By ems: 1.3em  em is a relative size based on the default size of the letter m. </li>
					<ul><li> A note on ems.  They seem to take precendence these days, because of their strength with relative sizing.  If you use ems, you only need to change the font size of the body element if you change screensize (ie. mobile vs. desktop) and everything with relatively cascade down or up after that change. px kinda does this too, but this works with margins as well. To avoid cascading, eg. with nested lists, you can do li li {font-size: 1em } to normalize the nested lists, so that the parent effect is the total effect.  </li></ul>
				<li> By percentage: 125%  Percentage scales off of the default size, 16px. </li>
			</ul>

		<li> line-height: Change the spacing between hights.  Can use px or em, em is preferred. </li>
		<pre class="prettyprint lang-css">
	p {
		line-height: 1.5em;
	}
		</pre>
		<li> Fun fact: Line height is the font size plus the "leading" (ledding) which is the spacing between the lines. </li>

		<li> word-spacing: Space between words!  Again px or em, em is preferred.  On the whole, this is uncommon.</li>
		<pre class="prettyprint lang-css">
	h1 {
  		word-spacing: 0.3em;
	}
		</pre>

		<li> letter-spacing: Just take a guess.  Same details as word spacing, technical term is "kerning" for god knows what reason. </li>
		<pre class="prettyprint lang-css">
	h1 {
  		letter-spacing: 0.3em;
	}
		</pre>

		<li> font-weight: Can change to bold, OR set everything to bold, and use "normal" to "switch off bold". </li>
		<ul>
			<li> bold </li>
			<li> normal </li>
			<li> 100(thin), 200, 300, 400 (normal), 500, 600, 700, 800, 900(bold) Yes, just those exact numbers, and I don't know why. </li>
		</ul>

		<li> font-style: Guess based on the options below </li>
		<ul>
			<li> italic </li>
			<li> normal (for same reason as font-weight normal option) </li>
		</ul>

		<li> text-transform: Main purpose being uniformity, or avoid typing actual uppercase in the HTML file. </li>
		<ul>
			<li> uppercase </li>
			<li> lowercase </li>
		</ul>

		<li> text-align: default is left align. </li>
		<ul>
			<li> left </li>
			<li> center </li>
			<li> right </li>
		</ul>

		<li> font-family: Changes the font </li>
		<ul>
			<li> For two word fonts, Quotation marks must be used. Eg. "Times New Roman" </li>
			<li> Default typeface(font) for all HTML: Times New Roman. </li>
			<li> Fun fact, Serif fonts have the little details on the ends, while Sans-Serif fonts do not. </li>
			<li> Fallback font: To use a font listed in a CSS file, a computer must have that font installed.  Fallback fonts can give 2nd and 3rd string options to computers who are short on fonts. </li>
			<pre class="prettyprint lang-css">
		<!-- Pretty print code moved back for better appearance on load. -->
		h1 {
  			font-family: Garamond, Times, serif;
		}
			</pre>
			<p> serif simply means, any serif font installed on the computer. </p>
			<li> <a href="https://fonts.google.com"> Google Fonts </a> is a collection of open source fonts, and can be used by any computer if a link to that specific font is in the HTML. Other font collections exist. Link like so:</li>
			<pre class="prettyprint">
				&lt;link href="https://fonts.googleapis.com/css?family=Roboto:100" type="text/css" rel="stylesheet"&gt;
			</pre>
		</ul>
		<li> width: Changes the width of the box around an element. </li>
		<ul>
			<li> Can use px, ems, or percentage.  For percentage, it's a percent of the size of the parent box (the box that this box is inside, the largest being the body.) </li>
		<li> height: The height of the box around an element, with the same value options as width. </li>
		<li> min-width, max-width, min-height, max-height: In px, sets the minimum and maximum width of an element, to avoid strange resizing issues, and keep text readable. If the max-height is too low, contents might spill out.  A lower max-width could contribute to this problem. </li>
		<li> overflow: Determines what happens if content spills out of its box because of max width and height settings. </li>
		<ul>
			<li> scroll: a scroll bar appear and the spilled content can be viewed by scrolling. </li>
			<li> hidden: spilled content will simply not be visible. </li>
	</ul>
	</div><!--End list of properites. -->
</body>
</html>