<!DOCTYPE html>
<html lang="en">
<head>
	<title> HTML Notes </title>
	<!--Code to include pretty print for formatting Code examples --> 
	<script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
	<!--Import css-->
	<link href="../css/style.css" type="text/css" rel="stylesheet">

</head>
<body>
	<h1> HTML Notes </h1>
	<h3> Hyper Text Markup Language </h3>
	<h3> Basics </h3>
	<ul>
		<li> Comment: &lt;!-- This is a comment --&gt; </li>
	</ul>
	
	<h3> Starting a new file: BoilerPlate Code </h3>
	<ul>
		<li> Start with "&lt;!DOCTYPE html&gt;" </li>
		<li> Include "&lt;html&gt;"" tag to ensure correct interpretation </li>
		<li> and of course "&lt;body&gt;"" </li>
		<li> example:
			<!--Scooted right for proper indent on page load.--> 
			<pre class="prettyprint"> 	
&lt;!DOCTYPE html&gt;
&lt;html lang="en"&gt;
 	&lt;head&gt;
   	&lt;title&gt; My Title&lt;/title&gt;
 	&lt;/head&gt;
 	&lt;body&gt;
 	&lt;/body&gt;
&lt;/html&gt;
			</pre>
		</li>
	</ul>	
	<li> Escape Characters </li>
	<ul>
		<li> &quot; becomes & quot; </li>
		<li> &amp; becomes & amp; </li>
		<li> &lt; becomes & lt; </li>
		<li> &gt; becomes & gt; </li>
		<li> <a href="https://www.freeformatter.com/html-entities.html"> All encodings </a></li>
	</ul>

	<h3> Tags </h3>
	<ul>
		<li> &lt;br&gt; for a page break </li>
		<li> &lt;blockqoute&gt; for a weird spaced indented piece of text </li>
		<li> &lt;a&gt; has attribute "target".  target="_blank" opens link in a new page. <br> Wrap
			 any element (text or image for example) with this tag to make it a clickable link. </li>
		<li> &lt;img src=''/&gt; Can be used for XSS (Cross-site Scripting) <br> "alt" tag can be used
			 to create a description of the image, for visually impared, or if image does not load</li>
		<li> &lt;style&gt; Can be used to put CSS elements directly into an HTML file </li>
		<li>  &lt;link&gt; Used to link an HTML file to another source, such as a CSS file.  Example: &lt;link href="/style.css" type="text/css" rel="stylesheet"&gt; Link elements do not have content like the a element. </li>
			<ul><li>If the css file is out one folder and then in another, use ../ (like linux shell) to go back one folder. </li></ul>
		<li> &lt;pre&gt; Keeps the formatting as it is typed in the html file.  Used for stuff with weird formatting (and prettyprint). </li>
		<li> &lt;li&gt; </li>
		<li> &lt;ol&gt; and &lt;ul&gt; </li>
	</ul>

	<h3> Universal Attributes </h3>
	<ul>
		<li> id="idname": Use to set a unique id to an html element.  This is used for selective CSS styling. </li>
		<li> class="classname":</li>
	</ul>

	<h3> SVG </h3>
	<ul>
		<li> Support for event handlers </li>
	</ul>

	<h3> Canvas </h3>
	<ul>
		<li> No support for even handlers </li>
	</ul>

	<h3> DOM: Document Object Model </h3> 
		<ul> <li> This is how HTML pages elements are sorted in a tree like way.  Elements have parents and children. </li> </ul>
		
	<a href="https://www.w3schools.com/html/default.asp"> SO much HTML info </a>
</body>
</html>