<!DOCTYPE html>
<html lang="en">
<body>
	<h1> Notes </h1>
	<ul>

		<!-- Notes on programming languages -->
		<li> Languages </li>
		<ul>
			<li><a href= "html.html">html</a></li>
			<li><a href= "javascript.html">Javascript</a></li>
				<ul><li> Libraries: <a href="prettyprint.html">prettyprint</a></li></ul>
			<li><a href= "java.html">Java</a></li>
			<li><a href= "C.html">C/C++</a></li>
			<li><a href= "CSS.html">CSS</a></li>
			<li><a href= "jquery.html">jquery</a></li>
		</ul>

		<br>
		<li> Concepts </li>
		<ul>
			<li><a href= "testing.html">Testing Principles (QA)</a></li>
			<li><a href= "websitedesign.html">Website Design</a></li>
		</ul>

		<!-- Notes on various programming tools -->
		<br>
		<li> Tools </li>
		<ul>
			<li><a href= "git.html">Git</a></li>
			<li><a href= "excel.html">Microsoft Excel</a></li>
		</ul>

		<!-- Notes on IDE's -->
		<br>
		<li> IDEs </li>
		<ul>
			<li><a href= "sublime.html">Sublime</a></li>			
		</ul>

		<!-- Notes on Operating Systems -->
		<br>
		<li> Operating Systems </li>
			<ul>
				<li><a href= "linux.html">Linux</a></li>
			</ul>
		</ul>
	</ul>
</body>
</html>