<html>
<head>
	<title>Word Notes</title>
</head>
<body>
<ul>
	<li> To force a table to the top or bottom of the page:</li>
	<ol>
		<li> Right click on table and select table properties </li>
		<li> Change text wrapping to "Around" and select the now available "Positioning" </li>
		<li> Change desired vertical positioning. </li>
		<li> To adjust Header/footer margins: Go to Header/Footer Design tab, In the Position Section, change"Header/Footer from Top"</li>
	</ol>
</ul>
Word 2003 (7)
To fix an oversized header, go to Page Layout->Margins->Custom Margains->Layout->Change "Verticle Alignment" to Top
</body>
</html>